.container {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    min-height: 50px;
    padding: 2px;
}
.left {
    flex: 1;
}
.main {
    width: 60%;
    display: flex;
    flex-direction: column;
    flex: 2;
    margin-left: 10px;
}
.col {
    margin: 2px;
}
.search-bar {
    display: flex;
    flex-flow: column wrap;
    width: 50%;
    justify-content: center;
    align-items: center;
}
body {
    background-color: #1e54ea;
    font-family: Lato;
}
.container {
    background-color: #fff;
    color: #000;
}
.search-bar,
.container {
    margin: 0 auto;
    width: 300px;
    border: 1px solid #3c8c3f;
    background-color: #fff;
    padding:4px;
}
.img-responsive {
    max-width: 100px;
    max-height: 100px;
    width: 100px;
    height: 100px;
    display: block;
    border: 1px solid transparent;
    border-radius: 50%;
}
/* Style the tab */

div.tab {
    border: 1px solid #ccc;
    background-color: #0a1228;
    color: #fff;
    margin: 5px;
    padding: 5px;
}
/* Style the buttons inside the tab */

div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    color: #fff;
}
.main a {
    color: #000;
    font-weight: bold;
    text-decoration: none;
}
#parent {
    border: 2px solid transparent;
}
/* Change background color of buttons on hover */

div.tab button:hover {
    background-color: #ddd;
}
/* Create an active/current tablink class */

div.tab button.active {
    border-bottom: 2px solid;
}
/* Style the tab content */

.tabcontent {
    display: none;
}
/*#search {
    display: block;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    margin-bottom: 10px;
    width: 97%;
    margin-left: 5px;
}*/
.tab,
.search {
    align-self: stretch;
}