body {
   
    font-family:Lato;
    font-size:14px;
    
}
.parentDiv {
    background-color:#f2d9f2;
  
}
.channel {
    padding:2px;
    background-color:#e6ffe6;
    margin:2px;
}
#search {
    width: 100%;
    
}
.status {
    text-align:right;
    font-size:12px;
}
#maindiv {

    margin-top: 50px;
    background-color:#ffcccc;
}
#offline {

    border: 1px solid #808080;
    border-radius:10px;
    margin:2px;
}
#online {
   
     border: 1px solid rgb(0,255,0);
    border-radius:10px;
    margin:2px;
}
     ul {
        list-style-type:none;
        float:right;
    }

.logo {
    max-width:50px;
    max-height:50px;
    border-radius:50%;
    border: 2px solid red;

}
 .row {

    padding:5px;
    margin:5px;
}
 a {
    color:#000;
}