body {
    font-family:Lato;
}
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
.maindiv .row {
    padding: 2px;
    margin: 2px;
    background-color:#ffb6c1;
   
}
.maindiv a {
    color:#000;
}

.status {
    margin-left:25px;
    font-size:12px;
}

#search {
    width:100%;
}
.logo {
    max-width:50px;
    max-height:50px;
}
